:root {

    --wood:#5e3718;
    --Hi: #BCA561;
    --Lo: #AD9056;
    --piano: #C9B381;
    --dog: #C6AB7C;
    --flute: #BEA775;
    --elecPiano: #BCA66D;
    --trumpet: #B7A167;
    --harp: #B8A45D;
    --rock: #C29959;
    --disco: #BA9453;
    --beat: #B69051;
    --bossa: #B38E4A;
    --waltz: #A88F4D;
    --samba: #9C7F39;
    --power: #8D5F2D;
    --keyW: #F0DB9C;
    --keyB: #000000;
    --bgroundR: #282216;
    --bgroundL: #3F3625;
    --lines: #616356;

}

/* :root {

} */